(
	names: [
		NameTag (
			name: "CampfireCollective",
			tier: Some(Captcha),
		),
		NameTag (
			name: "Viri",
			tier: Some(Captcha),
		),
		NameTag (
			name: "Conchors",
			tier: Some(Alchemiter),
		),
		NameTag (
			name: "Marinik",
			tier: Some(Master),
		),
		NameTag (
			name: "Thought Blob",
			tier: Some(Captcha),
		),
		NameTag (
			name: "Colby Lawson",
			tier: Some(Alchemiter),
		),
		NameTag (
			name: "Vee",
			tier: Some(Past),
		),
		NameTag (
			name: "heartsRemedy",
			tier: Some(Past),
		),
		NameTag (
			name: "Kirby",
			tier: Some(Past),
		),
		NameTag (
			name: "ivysprout",
			tier: Some(Past),
		),
		NameTag (
			name: "willofthestars",
			tier: Some(Past),
		),
		NameTag (
			name: "Viridian",
			tier: Some(Past),
		),
		NameTag (
			name: "FourPointedStar",
			tier: Some(Past),
		),
		NameTag (
			name: "White Crow",
			tier: Some(Past),
		),
	]
)