({
    "House": File ( path: "blueprints/House.glb" ),
    "Building": File ( path: "materials/Building.glb" ),
    "Roof": File ( path: "materials/Roof.glb" ),
    "Door": File ( path: "materials/Door.glb" ),
    "Planet": File ( path: "blueprints/Planet.glb" ),
    "Planet": File ( path: "materials/Planet.glb" ),
    "Cube": File ( path: "blueprints/Cube.glb" ),
    "Cube": File ( path: "materials/Cube.glb" ),
})